body {
	color: #444;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0;
}

#content {
	text-align: center;
}

#dial {
	display: inline-block;
}

.entry {
	border-radius: 10px;
	float: left;
	padding: 7px;
}

.entry:hover {
	background: rgba(53, 191, 256, 0.5);
}

.bookmark {
	background: #fff;
	border-radius: 5px;
	float: left;
	height: 100%;
	width: 100%;
	text-decoration: none;
}

.entry .bookmark:hover {
	color: #444;
}

.image {
    height: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.details {
	border-collapse: collapse;
	width: 100%;
}

td {
	opacity: 0.6;
}

.edit, .remove {
	opacity: 0.0;
	width: 1em;
}

.entry:hover .details .edit, .entry:hover .details .remove {
	opacity: 0.25;
}

.entry:hover .details .edit:hover, .entry:hover .details .remove:hover {
	opacity: 0.6;
}

.details .title {
	vertical-align: baseline;
	color: #000;
	font-size: 1em;
	font-weight: bold;
}

.entry:hover .title {
	opacity: 0.9;
}


#new_entry div {
	background-color: #aaa;
	border-radius: 5px;
	height: 100%;
}

.foundicon-folder, .foundicon-plus {
	position: relative;
}

#bookmark_form h1 {
	font-size: 1.5em;
}

#bookmark_form span {
	display: inline-block;
	padding: 0 5px;
	text-align: right;
	width: 110px;
	margin-left: -20px;
}

#bookmark_form input {
	padding: 0 5px;
	width: 300px;
}

#bookmark_form button {
	width: 10em;
	height: 2em;
	font-size: 110%;	
}

#options {
	position: absolute;
	right: 0px;
	top: -5px;
}

#options a {
	font-size: 5em;
	color: #aaa;
	text-decoration: none;
}

#options a:hover {
	color: #888;
	text-shadow: 0px 0px 10px rgba(53, 191, 255, 0.6);
}

#folder select {
	margin: 20px 0 10px 0;
}
