body {
	background: #CCC;
	color: #444;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0;
}

div {
	margin: 0;
	padding: 0;
}

#content {
	float: left;
	text-align: center;
	width: 100%;
}

#dial {
	display: inline-block;
	margin: 10px auto 0 auto;
}

#dial .entry {
	background: none;
	border-radius: 10px;
	float: left;
	padding: 7px;
}

#dial .entry:hover {
	background: rgba(53, 191, 256, 0.5);
}

.entry .bookmark {
	background: #fff;
	border-radius: 5px;
	border: 1px solid #888;
	margin: -1px;
	box-shadow: 0 0 5px #444;
	color: #888;
	float: left;
	height: 100%;
	width: 100%;
	text-decoration: none;
}

.entry .bookmark:hover {
	color: #444;
}

.bookmark .imgwrapper {
	overflow: hidden;
}

.image {
    height: inherit;
	background-size: cover;
	background-repeat: no-repeat;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.details {
	border-collapse: collapse;
	clear: both;
	float: left;
	width: 100%;
}

.details td {
	height: 20px;
	line-height: 20px;
	margin: 0;
	opacity: 0.6;
	padding: 0;
	text-align: center;
}

.details .edit, .details .remove {
	opacity: 0.0;
	width: 1em;
	position : relative;
	top: 0.1em;
}

.entry:hover .details .edit:hover, .entry:hover .details .remove:hover {
	opacity: 0.6;
}

.details .title {
	color: #000;
	font-size: 1em;
	font-weight: bold;
	overflow: hidden;
}

.entry:hover .details .title {
	opacity: 0.8;
}

.entry:hover .details .edit, .entry:hover .details .remove {
	opacity: 0.25;
}

#new_entry div {
	background-color: #aaa;
	border-radius: 5px;
	display: block;
	float: left;
	height: 100%;
	text-decoration: none;
	width: 100%;
	border: 1px solid #888;
	margin: -1px;
	box-shadow: 0 0 5px #444;
}

.foundicon-folder, .foundicon-plus {
	position: relative;
}

#bookmark_form h1 {
	font-size: 1.4em;
}

#bookmark_form span {
	display: inline-block;
	padding: 0 5px;
	text-align: right;
	width: 110px;
	margin-left: -20px;
}

#bookmark_form input {
	display: inline-block;
	padding: 0 5px;
	width: 300px;
}

#bookmark_form button {
	padding: 5px;
	width: 150px;
}

#options {
	position: absolute;
	right: 0px;
	top: -5px;
}

#options a {
	display: block;
	font-size: 5em;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	color: #AAA;
	text-decoration: none;
}

#options a:hover {
	color: #666;
}

#folder select {
	margin: 20px 0 10px 0;
}

.ondrop {
	-webkit-animation: drop 0.3s;
	animation: drop 0.3s;
}

@-webkit-keyframes ondrop {
	from, to {
		background: #ffff00;
		color: #fff;
	}
}

@keyframes ondrop {
	from, to {
		background: #ffff00;
		color: #fff;
	}
}
