body {
	background: #CCC;
	color: #444;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 0.8em;
	margin: 0;
}

div {
	margin: 0;
	padding: 0;
}

#content {
	float: left;
	text-align: center;
	width: 100%;
}

#dial {
	display: inline-block;
	margin: 10px auto 0 auto;
}

#dial .entry {
	background: none;
	border-radius: 10px;
	float: left;
	padding: 7px;
}

#dial .entry:hover {
	background: rgba(53, 191, 256, 0.5);
}

.entry .bookmark {
	background: #fff;
	border-radius: 10px;
	border: 1px solid #888;
	box-shadow: 0px 0px 5px #444;
	color: #888;
	float: left;
	height: 100%;
	width: 100%;
}

.entry .bookmark:hover {
	color: #444;
}

.bookmark img {
	background: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	float: left;
	width: 100%;
}

.bookmark .details {
	float: left;
	height: 25px;
	line-height: 25px;
	width: 100%;
}

.bookmark .edit, .bookmark .remove {
	float: left;
	width: 10%;
}

.bookmark .edit {
	background: url('/images/edit.png') 50% 50% no-repeat;
	opacity: 0.0;
}

.bookmark .edit:hover {
	opacity: 1;
}

.bookmark .remove {
	background: url('/images/close.png') 50% 50% no-repeat;
	opacity: 0.0;
}

.bookmark .remove:hover {
	opacity: 1;
}

.bookmark .controls {
	opacity: 0.3;
}

.bookmark .title {
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 80%;
}




#new_entry {
	display: none;
}

#new_entry a {
	background: url('/images/add.png') 50% 50% no-repeat;
	background-color: #aaa;
	border-radius: 5px;
	display: block;
	float: left;
	height: 100%;
	text-decoration: none;
	width: 100%;
}


#options {
	background: url('/images/options.png') 50% 50% no-repeat;
	border-radius: 5px;
	height: 64px;
	position: absolute;
	right: 0;
	top: 0;
	width: 64px;
}

#options:hover {
	background: url('/images/options_hover.png') 50% 50% no-repeat;
}

#options a {
	display: block;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}


#folder select {
	margin: 20px 0 0 0;
}
