body {
	color: #444;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0;
}

h1 {
	border-bottom: 1px solid #888;
	margin: 20px auto;
	width: 50%;
}

#advanced {
	display: none;
	margin-top: 3.5em;
}

#content {
	background: #fff;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
	width: 55em;
}

.form {
	border-spacing: 0;
	margin: 2em auto;
}

td {
	padding: 10px;
	width: 50%;
}

.field {
	border-right: 1px solid #888;
	font-weight: bold;
	text-align: right;
}

.value {
	text-align: left;
}

.form input {
	float: left;
}

.form p {
	margin: 0;
	padding: 3px 0;
}

#folder_list {
	width: 90%;
}

#thumbnailing_service {
	width: 90%;
}

.reset {
	font-family: sans-serif;
    background-color: #ff3030;
    border-color: #ff3030;
	font-size: medium;
	font-weight: bold;
}

.reset:hover {
	box-shadow:0px 0px 10px #800000;
}

#save {
	width: 10em;
	height: 2em;
	font-size: 100%;
}

#cancel {
	width: 10em;
	height: 2em;
	font-size: 100%;
}
